/* Основной контент */
/* Каталог */
/*Общее*/

.product-catalogue {
    width: 1440px;
    margin: 0 auto;
}

.product-catalogue-content {
    display: inline-block;
    width: 915px;
    margin-right: 120px;
}

/*Голова каталога*/
.product-catalogue__head {
    display: flex;
    justify-content: space-between;
    width: 892px;
    height: 28px;
    margin-top: -2px;
    margin-left: 24px;
}

/*.product-catalogue__section-title {
  outline: 1px solid red;
}
*/
.product-catalogue__sort-by {
    text-align: right;
    padding-right: 13px;
}

h2.section-name,
p.sort-by {
    display: inline-block;
}

h2.section-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}

span.amount {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding-left: 9px;
}

.sort-by {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding-right: 6px;
    vertical-align: top;
}

select {
    width: 174px;
    height: 21px;
    border-radius: 5px;
    padding-left: 9px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    background: url(../img/catalogue-pics/product-catalogue__sort-by-drop-down-chevron.png) no-repeat;
    background-position: 151px center;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none;
}

/*Основная часть каталога с фотками товара*/
.product-catalogue__item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 892px;
    margin-left: 22px;
    border-top: 1px solid #F4F4F4;
}

/*Сердечки для избранного товара с эффектами*/
.product-catalogue .product-catalogue__product_favorite a,
.product-catalogue .product-catalogue__product_favorite p {
    position: relative;
    top: 1px;
    width: 33px;
    height: 30px;
    background-image: url(../img/catalogue-pics/product-catalogue__product_favorite.png);
    background-repeat: no-repeat;
}
.product-catalogue .product-catalogue__product_favorite.favorite a,
.product-catalogue .product-catalogue__product_favorite.favorite p {
    background-image: url(../img/catalogue-pics/product-catalogue__product_favorite_chosen.png);
}

.product-catalogue .product-catalogue__product_favorite a:hover,
.product-catalogue .product-catalogue__product_favorite p:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 5;
}

.product-catalogue .product-catalogue__product_favorite,
.product-catalogue__product_favorite-chosen {
    position: absolute;
    top: 9px;
    right: 6px;
    z-index: 10;
}


/* Карточка товара в каталоге с ховером*/
a.item-list__item-card {
    display: inline-block;
    width: 283px;
    height: auto;
    margin-top: 27px;
    margin-bottom: -17px;
    padding-bottom: 53px;
    text-decoration: none;
}

.product-catalogue .item-list__item-card:hover {
    box-shadow: 2px 2px 2px 2px #cccccc;
}

.product-catalogue .item-list__item-card:hover .sizes {
    display: block;
}

.product-catalogue .item-list__item-card:hover .item-pic {
    outline: none;
}

.product-catalogue .item-list__item-card:hover .arrow {
    display: block;
}

.product-catalogue .item-pic .arrow {
    background: url(../img/catalogue-pics/product-catalogue-sprite-min.png);
    top: 110px;
    display: none;
}

.product-catalogue .item-pic .arrow_right {
    right: 0;
    background-position: -56px -105px;
}

.product-catalogue .item-pic .arrow_left {
    background-position: -16px -105px;
}

.item-pic {
    position: relative;
    display: block;
    width: 283px;
    height: 247px;
    margin: auto;
    overflow: hidden;
    outline: 1px solid #F4F4F4;
    text-align: center;
}

.item-pic img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.product-catalogue .item-desc {
    position: relative;
    width: 283px;
    outline: none;
}

.item-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 14px 0 5px;
    border-top: rgb(244, 244, 244) 1px solid;
}

.item-producer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 3px;
    text-align: center;
    color: #D4D4D4;
}

span.producer {
    text-decoration: underline;
}

.item-price {
    padding-left: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #333333;
}

.item-price::after {
    content: " ₽";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.product-catalogue .sizes {
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
}

.product-catalogue .sizes__title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.product-catalogue .sizes__avalible {
    font-size: 15px;
    font-weight: normal;
}

/*Пагинация в каталоге*/
.product-catalogue__pagination {
    display: block;
    width: 892px;
    margin: 20px 0 25px 22px;
}

.page-nav-wrapper {
    display: flex;
    width: 365px;
    margin: 0 auto;
    align-items: center;
}

.product-catalogue__pagination ul {
    width: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.product-catalogue__pagination ul li {
    display: inline-block;
    width: 19px;
    height: 26px;
    vertical-align: middle;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #000000;
}

.product-catalogue__pagination ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

li.active {
    display: inline-block;
    padding: 5px;
    background: #D4D4D4;
    border-radius: 7px;
    color: #000000;
}

.angle-back a,
.angle-forward a {
    position: relative;
    display: inline-block;
    top: 0;
    right: -15px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background: url(../img/catalogue-pics/product-catalogue-sprite-min.png);
    background-position: 80px -107px;
}

.angle-forward a {
    left: -7px;
    background-position: 36px -107px;
}

/* Cайдбар */

/*Сепаратор между частями*/
.separator-150 {
    position: relative;
    width: 150px;
    height: 1px;
    margin: 0 auto;
    background: #F4F5F2;
}

.separator-150-1 {
    top: 5px;
}

.separator-150-2 {
    top: 0;
}

.separator-150-3 {
    top: 12px;
}

.separator-150-4 {
    top: 14px;
}

.separator-150-5 {
    top: -6px;
}

.separator-150-6 {
    top: 2px;
}

.separator-150-7 {
    top: -16px;
}

.separator-240 {
    position: relative;
    top: 16px;
    width: 240px;
    height: 1px;
    margin: 0 auto;
    background: #F4F5F2;
}

.sidebar {
    width: 285px;
    height: auto;
    margin-left: 120px;
    vertical-align: top;
    float: left;
    border-radius: 15px;
    box-shadow: 3px 3px 15px #D4E4E6;
    padding: 15px;
}

.sidebar h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}

.sidebar__division {
    margin-bottom: 15px;
}

.sidebar__division-title {
    position: relative;
    padding: 15px 0;
}

.sidebar__division-title:hover {
    cursor: pointer;
}

/*Списки в сайдбаре*/
.vertical-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F4F4F4;
    padding: 10px;
    max-height: 20vh;
    min-height: 200px;
    overflow-y: auto;
}

.vertical-list li:not(:last-child) {
    margin-bottom: 15px;
}

.filter:hover {
    cursor: pointer
}

.sidebar ul li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

/*Стрелочка напротив заголовка отдельной секции сайдбара*/
.opener-up,
.opener-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/catalogue-pics/product-catalogue-sprite-min.png);
}

.opener-up {
    background-position: -16px -153px;
}

.opener-down {
    background-position: -55px -155px;
}

/*Разделы сайдбара*/

/*Каталог в сайдбаре*/
.sidebar__catalogue-list h3 {
    width: auto;
    padding-top: 19px;
    padding-left: 21px;
    padding-bottom: 16px;
}

.sidebar__catalogue-list ul {
    height: 206px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

.sidebar__catalogue-list ul li {
    padding-top: 12px;
}

/*Цена*/
.sidebar__price h3 {
    padding-top: 28px;
    padding-left: 23px;
}

.sidebar__price .opener-down {
    top: 20px;
    background-position: -55px -152px;
}

/*Ползунок с ценой*/
.price-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /*padding: 25px;*/
}

.circle-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.circle-1,
.circle-2 {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.101987);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 3px rgba(0, 0, 0, 0.05);
    z-index: 5;
}

.circle-1 {
    /*left: 10px;*/
}

.circle-2 {
    /*left: 100px;*/
}

.line-white {
    width: 100%;
    height: 7px;
    margin: 0 auto;
    border-radius: 5px;
    background: #F4F4F4;
}

.line-colored {
    position: absolute;
    left: 10px;
    width: 90px;
    height: 7px;
    background: #A1B3BF;
}

.input-1,
.input-2 {
    width: 100px;
    height: 37px;
    padding: 0 12px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #333333;
}

.input-separator {
    /*position: relative;*/
    /*top: 18px;*/
    width: 25px;
    height: 1px;
    background: #D4D4D4;
}

/*Цвет*/
.color-name {
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    vertical-align: middle;
}

.color:hover {
    cursor: pointer;
}

.color:hover .color-name {
    text-decoration: underline;
}

.color-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

.chernii {
    background-color: black;
}

.bezhevii {
    background-color: #F5F5DC;
}

.serii {
    background-color: #808080;
}

.bardo {
    background-color: #641C34;
}

.belii {
    background-color: #fff;
}

.prozrachnii {
    background-color: transparent;
}

.sinii {
    background-color: blue;
}

.krasnii {
    background-color: red;
}

.temno-salatovii {
    background-color: darkgreen;
}

.fioletovii {
    background-color: #EE82EE;
}

.bezh {
    background-color: #F5F5DC;
}

.oranzhevii {
    background-color: #FFA500;
}

.metallik {
    background-color: darkgrey;
}

.raznotsvetnie {
    background: radial-gradient(red, orange, yellow, green, #00BFFF, blue, violet);
}

.korichnevii {
    background-color: brown;
}

.serebryanii {
    background-color: silver;
}

.cherno-belii {
    background: radial-gradient(white, black);
}

.rozovii {
    background-color: pink;
}

/*Размер*/
.sidebar__size h3 {
    padding-top: 34px;
    padding-bottom: 13px;
    padding-left: 22px;
}

.sidebar__size ul {
    height: 95px;
    padding-left: 1px;
    overflow: auto;
}

.sidebar__size .opener-down {
    top: 28px;
    right: 17px;
    background-position: -55px -155px;
}

.custom-checkbox__label {
    display: block;
}

.custom-checkbox__label:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, .03);
}

.custom-checkbox__input {
    margin-right: 5px;
}

/*Размер каблука*/
.sidebar__heel-height h3 {
    padding-top: 37px;
    padding-left: 22px;
}

.sidebar__heel-height .opener-up {
    top: 30px;
    right: 16px;
    background-position: -16px -151px;
}

/*Повод*/
.sidebar__occasion h3 {
    padding-top: 17px;
    padding-left: 22px;
    padding-bottom: 15px;
}

.sidebar__occasion ul {
    width: 240px;
    height: 143px;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;

}

.sidebar__occasion ul li {
    padding-top: 12px;
}

.sidebar__occasion .opener-down {
    top: 10px;
    right: 17px;
    background-position: -54px -153px;
}

/*Сезон*/
.sidebar__season h3 {
    padding-top: 24px;
    padding-left: 22px;
    padding-bottom: 10px;
}

.sidebar__season .opener-up {
    top: 20px;
    right: 16px;
    background-position: -16px -154px;
}

/*Бренд*/
.sidebar__brand h3 {
    padding-top: 8px;
    padding-left: 22px;
    padding-bottom: 13px;
}

/*Форма поиска по бренду*/
form.brand-search {
    position: relative;
}

input[type="search"] {
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    color: #333333;
    outline: none;
}

/*Кастомизация плейсхолдера*/
input::-webkit-input-placeholder {
    color: #D6D6D6;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

input:-moz-placeholder {
    color: #D6D6D6;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.submit {
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: url(../img/catalogue-pics/product-catalogue-sprite-min.png) no-repeat;
    background-position: -14px -52px;
}

/*Чекбокс "Со скидкой"*/
span.checkbox-discount {
    position: relative;
    display: inline-block;
    top: -2px;
    left: 22px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    border: 1px solid #333333;
}

.checkbox:checked + .checkbox-discount::before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: url(../img/catalogue-pics/checkbox-checked-19.png);
    display: block;
    width: 16px;
    height: 16px;
}

.text-discount {
    display: inline-block;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*Сброс*/
.clear-filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-filters:hover {
    cursor: pointer;
}

.clear-filters:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../img/catalogue-pics/product-catalogue-sprite-min.png) no-repeat;
    background-position: -60px -21px;
}

/*Кастомизация бегунков*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #A1B3BF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 179, 191, 0.5);
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
}

::-webkit-scrollbar {
    width: 7px;
}