html,
body {
  /* max-width: 1438px; */
  min-width: 1205px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  cursor: pointer;
}


/*Карточка товара*/
.product-card {
  width: 1440px;
  margin: 0 auto;
}

.product-card-content {
  width: 1120px;
  margin: 0 auto;
}

h2.section-name {
  padding-left: 2px;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 28px;

  color: #000000;
}

.product-card-content__main-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
}

/*Картинка товара*/
.main-screen__favourite-product-pic {
  position: relative;
  width: 500px;
  height: 440px;
  margin: 45px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-screen__favourite-product-pic img {
  max-width: 100%;
  max-height: 100%;
}

.main-screen__favourite-product-pic img:hover {
  box-shadow: 2px 2px 2px 2px #cccccc;
}

a.main-screen__favourite-product-pic__zoom{
  display: block;
  position: absolute;
  top: 9px;
  right: 11px;
  height: 29px;
  width: 29px;
  background-image: url(../img/product-card-pics/zoom.png);
  background-repeat: no-repeat;
}

/*Блок информации о товаре*/
.main-screen__product-info {
  width: 449px;
  height: 440px;
}

.product-info-title {
  width: 449px;
  display: flex;
}

.product-info-title h2 {
  display: inline-block;
  margin-right: auto;
  padding-left: 2px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
}

.in-stock {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 120px;
  height: 25px;
  margin-left: auto;
  padding: 5px;
  vertical-align: top;
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
  border: 1px solid #A1B3BF;
  text-align: center;
  border-radius: 2px;
  color: #A1B3BF;
}

.not-in-stock {
  border: 1px solid #bf9fa3;
  color: #bf9fa3;
}


/*Таблица особенностей товара*/
.product-features {
  width: 449px;
  height: 181px;
  margin-top: 32px;
  overflow: auto;
  background: #F4F4F4;
}

.left-col {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  padding-left: 15px;
}

.right-col {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.features-table {
  width: 420px;
  height: 200px;
  padding-top: 10px;
}

.features-table td {
  padding-bottom: 23px;
  vertical-align: bottom;
}

/*Блок с размерами*/
.size {
  position: relative;
  top: 19px;
  left: 16px;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
}

.sizes {
  position: relative;
  top: 19px;
  left: 130px;
  display: inline-block;
}

.sizes li {
  display: inline-block;
  list-style: none;
  padding: 7px;
  position: relative;
}

li.active {
  background: #A1B3BF;
  border-radius: 50%;
}

li.not-available:before,
li.not-available:after{
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgba(255, 5, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

li.not-available:before{
  transform: rotate(45deg);
}

li.not-available:after{
  transform: rotate(-45deg);
}

.size-wrapper {
  position: relative;
  top: 45px;
  right: 42px;
  display: inline-block;
}

.size-rule {
  display: inline-block;
  width: 22px;
  height: 14px;
  vertical-align: middle;
  background: url(../img/product-card-pics/product-card__size-ruler.png) no-repeat;
}

.size-table {
  display: inline-block;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  text-decoration: underline;
}

/*Избранное*/
.in-favourites-wrapper {  
  position: relative;
  top: 58px;
  left: 204px;
  display: inline-block;
  width: 200px;
}

.in-favourites-wrapper:hover {  
  transform: scale(1.1);
}

.in-favourites {
  position: relative;
  display: inline-block;
  padding-left: 1px;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.favourite {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: url(../img/product-card-pics/product-card__favorite.png) no-repeat;
}

/*Счётчик для корзины*/
.basket-item__quantity {
  position: relative;
  top: 60px;
  left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 68px;
  height: 30px;
  padding: 0 5px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #A1B3BF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.basket-item__quantity-change:hover {
    cursor: pointer;
    color: #333333;
}

/*Цена*/
.price {
  position: relative;
  top: 65px;
  left: 6px;
  display: inline-block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  color: #333333;
}

/*Кнопка "В корзину"*/
.in-basket {
  position: relative;
  top: 60px;
  left: 87px;
  width: 246px;
  height: 47px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FF65A5 0%, #FF8076 100.22%);
  box-shadow: 0 2px 8px rgba(255, 101, 165, 0.6), inset 0 1px 1px #FF8076;
  border-radius: 8px;
  border: none;
}

.in-basket-click {
  overflow: hidden;
  position: relative;
}

.in-basket-click span {
  z-index: 20;
}

.in-basket-click:after {
  position: absolute;
  top: -50px;
  left: -65px;
  width: 5px;
  height: 155px;
  content: "";
  background: #ffffff;
  filter: blur(7px);
  -webkit-filter: blur(7px);
  border-right: 10px solid #ffffff;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.in-basket-click:active:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.in-basket:hover {
  cursor: pointer;
}


/*Слайдеры*/

/*Слайдер "Вы смотрели"*/

.product-card__overlooked-slider h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.product-card__overlooked-slider{
  margin: 50px auto;
}

.overlooked-slider {
  justify-content: center;
}

.overlooked-slider__item {
  width: 186px;
  height: 133px;
  border: solid 0.5px rgba(41, 42, 58, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

.overlooked-slider__item:hover {
  opacity: 0.6;
}

.overlooked-slider__item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}


/*Слайдер "Похожие товары"*/
.product-card__similar-products-slider {
  margin: 50px auto;
}


.product-card__similar-products-slider h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.similar-products-slider{
  display: flex;
  justify-content: center;
}

.similar-products-slider__item {
  width: 319px;
  height: 230px;
  border: solid 0.5px rgba(41, 42, 58, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

.similar-products-slider__item:hover {
  opacity: 0.6;
}

.similar-products-slider__item-list__item-card {
  width: 319px;
}


.similar-products-slider__item-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding: 14px 0 5px;
}

.similar-products-slider__item-producer {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 3px;
  text-align: center;
  color: #D4D4D4;
}

span.producer {
  text-decoration: underline;
}

.similar-products-slider__item-price {
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #333333;
}

.similar-products-slider__item-price::after {
  position: relative;
  left: 8px;
  content: " ₽";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}


.similar-products-slider__img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.similar-products-slider__img-container img {
  max-height: calc(100% - 1px);
  max-width: calc(100% - 1px);
}

/*Кастомизация бегунков*/
::-webkit-scrollbar-button {
background-image: url('');
background-repeat: no-repeat;
width: 7px;
height: 7px;
}

::-webkit-scrollbar-track {
background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 15px;
border-radius: 15px;
background-color: #A1B3BF;
}

::-webkit-scrollbar-thumb:hover {
background-color: rgba(161, 179, 191, 0.5);
}

::-webkit-resizer {
background-image: url('');
background-repeat: no-repeat;
width: 7px;
}

::-webkit-scrollbar{
width: 7px;
}